 /* CSS - Cascading StyleSheet */

body {
  background: #e5e5e5;
  color: #25282b;
  text-align: center;
}

button {
  color: #ff5e84;

  border: none;

  font-weight: bold;
  background: none;
}

.fat{
  color: white;
  background: #ff5e84;
}

#footer a {
  color: #25282b;
  text-decoration: transparent;
}

.hide {
  display: none;
}
